ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #7bde97;
	position: fixed;
	top: 0;
	width: 100%;
}

li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #529364;
	color: white;
}

li {
	float: left;
}